html {
  color: #707070;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#background {
  width: 100%;
  height: 1200px;
  background-image: url("https://www.wallpapertip.com/wmimgs/76-761019_344736-title-women-face-wallpaper-hair-color-model.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#headLogo {
  margin-left: 10%;
  width: 34%;
  height: 20%;
  display: flex;
}

#imageLogo {
  height: 100%;
  width: 45%;
  display: flex
}

#texteLogo {
  height: 80%;
  width: 70%;
  display: flex;
  margin-top: 4%;
  margin-bottom: 4%;
}

#navBarre {
  margin-left: 10%;
  width: 50%;
  height: 4%;
  display: flex;
  margin-right: 10%;
}
/*=================mise en forme navbar============================*/
#navBarreText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-family: "Autography";
  src: local("ressources/fonts/Autography.ttf");
}

#navBarreText a{
  text-decoration: none;
  color: #707070;
}
#navBarreText a:hover{
  color:#E3CC1D
}
/*==============fin de mise en forme navbar========================*/
#carousel {
  margin-right: 10%;
  margin-left: 10%;
  width: 50%;
  height: 15%;
  display: flex;
  margin-top: 1%;
  background-color: darkviolet;
}

#imgCarousel {
  width: 25%;
  height: 100%;
  background-color: deepskyblue;
  display: flex
}

#footNav {
  margin-right: 10%;
  margin-left: 10%;
  width: 50%;
  height: 4%;
  display: flex;
  margin-top: 1%;
}
/*==============debut de mise en forme footer========================*/
#footNavTexte {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: space-between;
  font-size: 30px;
  color: #707070;
  justify-content: space-between;
}

#footNavTexte a {
  text-decoration: none;
  font-family: "Autography";
  src: local("ressources/fonts/Autography.ttf");
  color: #707070;
}

#footNavTexte a:hover{
  color:#E3CC1D;
}
/*==============fin de mise en forme footer========================*/
#container1 {
  margin-left: 10%;
  width: 50%;
  height: 40%;
  margin-top: 0%;
  display: flex;
}

#container2 {
  width: 20%;
  height: 100%;
  cyan;
  display: flex;
}

#réseauxSociaux {
  width: 25%;
  height: 30%;
  margin-left: 5%;
  darkgoldenrod;
  display: flex;
}

#imgRéseauxSociaux {
  width: 25%;
  height: 40px;
  margin-top: 10%;
  display: flex;
  margin-left: 20%;
}

#imgRéseauxSociaux2 {
  width: 25%;
  height: 40px;
  margin-top: 10%;
  display: flex;
  margin-left: 20%;
}

#container3 {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px
}

#localisation {
  width: 60%;
  height: 100%;
  ;
  display: flex;
}

#texteLocalisation {
  width: 100%;
  height: 50%;
  darkslateblue;
  display: flex;
}

#texteContact {
  width: 10%;
  height: 50%;
  display: flex;
}

#horaires {
  margin-left: 10%;
  width: 50%;
  height: 6%;
  margin-top: 1%;
  display: flex;
}

#containerHoraires {
  width: 20%;
  height: 100%;
  display: flex;
}

#texteHoraires {
  width: 80%;
  height: 100%;
  margin-top: 0%;
  display: flex;
  font-size: 25px;
}

@font-face {
  font-family: "Autography";
  src: local("ressources/fonts/Autography.otf");
}






}
